.card-booking {
  margin: 1rem 15%;
  display: flex;
  align-items: flex-start;
}

.card-booking .card-wrapper {
  width: 50%;
  margin-right: 4rem;
}

.card-booking .card-wrapper .card-section {
  /*background: url(../../assets/images/daily-driver.png) no-repeat center;*/
  border-radius: 20px;
  padding-bottom: 32px;
}

.card-booking .card-wrapper .card-section .driver img {
  width: 423px;
  height: 369px;

}

.card-booking .card-section .like {
  width: 65px;
  height: 65px;
  position: absolute;
  top: 285px;
  left: 220px;
}

.card-booking .card-section .share {
  width: 26px;
  height: 27px;
  position: absolute;
  top: 610px;
  left: 590px;
}

.card-booking .card-section button {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5px;
  color: #000;
  background: #ee9a09;
  padding: 7px 36px;
  border-radius: 0px 16px 16px 0px;
  position: absolute;
  border: none;
  top: 560px;
  left: 215px;
}
.card-booking .card-text {
  width: 425px;
  height: 229px;
  background: #fcf8f8;
  border: 1px solid #000;
  border-radius: 16px;
}

.card-booking .card-text h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1.5px;
  color: #000;
  padding-top: 33px;
}

.card-booking .card-text-line {
  border: 1px solid #000;
  width: 182px;
  margin-top: 6px;
}

.card-booking .card-text {
  padding-left: 25px;
}

.card-booking .card-text .card-location {
  display: flex;
  color: #000;
}

.card-booking .card-text .card-location img {
  width: 21px;
  height: 20px;
  padding-top: 5px;
} 

.card-booking .card-text .card-location span {
  font-size: 12px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 1px;
} 
.card-booking .card-text p {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #000;
  width: 362px;
  height: 54px;
  padding-top: 8px;
} 

.card-booking .card-text .card-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  margin-right: 44px;
}

.card-booking .card-text .card-review button {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 1.5px;
  color: #000;
  border: 1px solid #c4c4c4;
  border-radius: 16px;
  padding: 4px 14px;
}

.card-booking .card-wrapper2 {
  width: 50%;
  margin-right: 3rem;
}

.card-booking .card-wrapper2 h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.card-booking .card-wrapper2 form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fcf8f8;
  border: 1px solid #000;
  border-radius: 16px;
  padding: 14px 29px 14px 47px;
}

.card-booking .card-wrapper2 form div p {
  font-size: 15px;
  line-height: 25px;
  color: #000;
  letter-spacing: 1px;
  font-weight: normal;
  font-style: normal;
}

.card-booking .card-wrapper2 .checkmark {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 28px;
  padding-bottom: 72px;
}

.card-booking .card-wrapper2 .checkmark button {
  background: #000;
  justify-content: center;
  padding: 8px 11px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-right: 16px;
}

.card-booking .card-wrapper2 .checkmark p {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
}

.card-booking .card-wrapper2 .checkmark .box span {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
}

.card-booking .card-wrapper2 .checkmark .box img {
  width: 26px;
  height: 25px;
}

.card-booking .card-wrapper2 button {
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 10px 48px;
  font-weight: 600;
  line-height: 25px;
  font-size: 18px;
  color: #fff;
  letter-spacing: 1.5px;
  background: transparent;
  font-style: normal;
}

.card-booking .card-wrapper2 .card-listing {
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 16px 28px;
  width: 506px;
  height: 271px;
  margin-top: 64px;
}

.card-booking .card-wrapper2 .card-listing .card-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 12px;
  padding-bottom: 12px;
}

.card-booking .card-wrapper2 .card-listing .card-box img {
  padding-right: 22px;
}

.card-booking .card-wrapper2 .card-listing .card-box h2 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1.5px;
  font-weight: normal;
  font-style: normal;
  color: #fff;
}

.card-booking .card-wrapper2 .card-listing h3 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  padding-bottom: 16px;
}

.card-booking .card-wrapper2 .card-listing p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}


@media screen and (max-width: 1024px) {

}

@media screen and (min-width: 425px) {
  .card-booking {
    margin: 0 1%;
  }
  .card-booking .card-section {
    width: 300px
  }
  .card-booking .card-section .like {
  width: 65px;
  height: 65px;
  position: relative;
  top: 285px;
  left: 220px;
}
}