.home .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0px;
  flex-wrap: wrap;
}

.home .filters form {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.home .filters form input {
  width: 300px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #222;
  outline: none;
  color:#fff;
  flex: 1 0 250px;
}

.home .filters button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
  border-color: #ffa100;
  background-color: #ffa100;
}

.home .filters #account {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  color: #ffffff;
  border-radius: 8px;
}

.home .filters button img {
  width: 21px;
  height: 21px;
}

@media screen and (max-width: 1024px) {
  .filters {
    width: 1000px;
    display: inline-block;
    margin: 20px;
  }
}