.home #card-group {
  display: flex;
  width: 1018px;
  height: 409px;
  border: 1px solid #fff;
  border-radius: 16px;
  margin: 50px auto;
}

.home .card-name {
  width: 230px;
  margin: 32px 40px;
}

.home .card-details {
  width: 270px;
  margin: 32px 32px;
}

.home .card-price {
  width: 230px;
  margin: 32px 32px;
}

.home .card-total {
  width: 200px;
  margin: 32px 32px;
}

.home .card-name h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.card-line {
  border: 0.5px solid #fff;
  width: 182px;
}

.home .card-name p {
  display: flex;
  align-items: center;
  padding-top: 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  padding-bottom: 16px;
  line-height: 25px;
  letter-spacing: 1px;
}

.card-location {
  padding-right: 6px;
}

.home .card-details h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  padding-bottom: 16px;
}

.home .card-details .card-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 14px;
  margin-top: 32px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-bottom: 16px;
}

.home .card-details p {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 1px;
  padding-top: 8px;
}

.card-details__booking {
  display: flex;
  padding-right: 6px;
}

.card-time {
}

.card-text {
  padding-bottom: 16px;
}

.home .card-details button {
  padding: 6px 10px;
  font-size: 14px;
  color: #ffa100;
  border: 1px solid #ffa100;
  background-color: transparent;
  border-radius: 6px;
  line-height: 19px;
  letter-spacing: 1px;
  font-family: 'Nunito Sans', sans-serif;
}

.home .card-price h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  letter-spacing: 1.5px;
}

.home .card-price p {
  padding-top: 16px;
  margin: 26px;
  font-size: 18px;
  font-weight: 800;
}

.home .card-total h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  font-weight: 800;
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  letter-spacing: 1.5px;
}

.home .card-total p {
  padding-top: 16px;
  margin: 26px;
  font-size: 18px;
  font-weight: 800;
  color: #ffa100;
}


.home 