.sidebar {

}
.line-top {
  border-top: 1px solid #c4c4c4;
}

.line-side {
}

.leftbar {
  padding-top: 80px;
  padding-bottom: 300px;
  margin: 0 4%;
  max-width: 300px;
  border-right: 1px solid #c4c4c4;
}

.leftbar p {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 400;
  font-style: normal;
}

.leftbar .leftbar-img {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftbar img {
  width: 64px;
  height: 50px;
}

.rightbar-dashboard {
  position: absolute;
  top: 40%;
  left: 30%;
}

.rightbar-dashboard .mywallet {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-bottom: 32px;
}

.rightbar-dashboard .card-wallet {
  border: 1px solid #ffa100;
  border-radius: 16px;
  width: 343px;
  height: 182px;
  padding-left: 28px;
}

.rightbar-dashboard .card-wallet h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 16px;
}

.rightbar-dashboard .card-wallet h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.rightbar-dashboard .card-wallet h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 49px;
  letter-spacing: 1.5px;
  color: #ffa100;
  padding-top: 16px;
}

.rightbar-dashboard .card-wallet h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
}

.right.rightbar-dashboard .button-wallet {
  display
}