.sidebar {

}
.line-top {
  border-top: 1px solid #c4c4c4;
}

.line-side {
}

.left-sidebar {
  padding-top: 80px;
  padding-bottom: 400px;
  margin: 0 4%;
  max-width: 300px;
  border-right: 1px solid #c4c4c4;
}

.left-sidebar p {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 400;
  font-style: normal;
}

.left-sidebar .left-sidebar-img {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-sidebar img {
  width: 64px;
  height: 50px;
}

.rightbar-dashboard {
  position: absolute;
  top: 32.4%;
  left: 30%;
  border-right: 1px solid #c4c4c4;
}

.rightbar-dashboard .right-sidebar {
  padding-bottom: 250px;
  padding-right: 60px;
  padding-top: 80px;
}


.rightbar-dashboard .mywallet {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-bottom: 32px;
}

.rightbar-dashboard .card-wallet {
  border: 1px solid #ffa100;
  border-radius: 16px;
  width: 343px;
  height: 182px;
  padding-left: 28px;
}

.rightbar-dashboard .card-wallet h3 {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 16px;
}

.rightbar-dashboard .card-wallet h2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
}

.rightbar-dashboard .card-wallet h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 49px;
  letter-spacing: 1.5px;
  color: #ffa100;
  padding-top: 16px;
}

.rightbar-dashboard .card-wallet h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
}

.right.rightbar-dashboard .button-wallet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rightbar-dashboard .button-wallet button {
  background: #fff;
  border: 1px solid #ffa100;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #000;
  padding: 10px 42px;
  margin-right: 12px;
  margin-top: 36px;
}

.rightbar-dashboard .wallet-cart {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid #fff;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 10px 120px;
  margin-top: 25px;
  color: #fff;
  display: block;
  margin-bottom: 35px;
}

.rightbar-dashboard .wallet-due {
  background: #ff0606;
  border: 1px solid #ffa100;
  border-radius: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 42px;
}

.crypto-board {
  position: absolute;
  top: 34%;
  left: 60%;
  padding-left: 50px;
}

.crypto-board .hide {
  position: relative;
  top: 20px;
  left: 350px;
}

.crypto-board .crypto-container {
  display: flex;
  align-items: center;
}

.crypto-board h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
}

.crypto-board .crypto-card {
  width: 178px;
  height: 182px;
  border: 1px solid #fff;
  border-radius: 16px;
  text-align: center;
  margin-right: 30px;
  margin-top: 30px;
}

.crypto-board .crypto-card h3 {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  padding-top: 16px;
}

.crypto-board .crypto-card .usdt {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}

.crypto-board .crypto-card h1 {
  font-weight: bold;
  font-style: normal;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 1.5px;
  color: #ffa100;
  padding-top: 15px;
  padding-bottom: 8px;
}

.crypto-board .crypto-card h4 {
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
}

.crypto-board .crypto-button {
  display: block;
  background: #ffa100;
  border-radius: 8px;
  padding: 10px 94px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #0e0d0d;
  font-style: normal;
  font-weight: bold;
  margin-top: 32px;
  border: none;
}

.crypto-board .crypto-transfer {
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 10px 40px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #0e0d0d;
  font-style: normal;
  font-weight: bold;
  margin-top: 25px;
  border: 1px solid #ffa100;
}

.crypto-board .bitcoin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto-board .bitcoin img {
  padding-top: 80px;
}