div {
  font-family: 'Nunito Sans', sans-serif;
}

.dropdown ul {
  background: #000;
  border: 1px solid #fff;
  color: #fff;

}

.dropdown ul:first-child {
  padding-top: .;
}

.dropdown ul li {
  list-style: none;
  margin-bottom: 0.8em;
}