.booking-container {
  background: #ffffff;
}

.booking-container .booking-testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10%;
  height: 102px;
}


.booking-container .booking-testimonial .booking-logo p {
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 1px;
  margin-left: 24px;
}

