.sidebar {

}
.line-top {
  border-top: 1px solid #c4c4c4;
}

.line-side {
  border-right: 1px solid #c4c4c4;
  width: 300px;
  margin: 0 4%;
}

.leftbar {
  padding: 0;
  margin: 0;
  
}

.leftbar ul {
  padding-top: 100vh;
  padding-bottom: 100vh;
}

.leftbar ul li {
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.leftbar .leftbar-img {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}