.sidebar {

}
.line-top {
  border: 1px solid #c4c4c4;
  width: 1400px;
}

.sidebar .leftbar ul {
  font-size: 18px;
  display: flex;
  align-items: center;
  width: 379px;
  margin: 50px auto;
  border-right: 1px solid #c4c4c4;
}
