#landing-animation {
  position: relative;
  width: 1442px;
  height: 661px;
  background: purple;
}

#landing-animation .trapezoid {
  clip-path: polygon(0 100%, 100% 50%, 100% 0, 0 50%);
  background: #fff;
  width: 1442px;
  height: 661px;
  color: #000;
  padding: 1rem 10%;
}

#landing-animation .trapezoid h2 {
  position: relative;
  left: 400px;
  top: 100px;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 1.5px;
}

#landing-animation .trapezoid h3 {
  position: absolute;
width: 182px;
height: 22px;
left: 1048px;
top: 3250px;

font-family: Nunito Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
letter-spacing: 1.5px;
}