/* ### driver Pricing */
.driver-pricing {
  padding: 50px 4%;
  text-align: center;
}

.driver-pricing :is(.parent) {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.driver-pricing .parent > * {
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
}

.driver-pricing .parent .active {
  border-color: #ffa100;
  background-color: #ffa100;
  color: black;
}

.driver-pricing .filters > button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
  color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  background-color: transparent;
}

/*.driver-pricing .panels > * .list img {
  width: 319px;
  height: 224px;
}

.driver-pricing .panels > * .list .card figure {
  padding-right: 6px;
}*/

.driver-pricing .panels > * .list {
  /*justify-content: center;
  padding: 0px 5%;*/
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  justify-content: space-around;
  gap: 70px;
  padding: 0px 1%;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.driver-pricing .panels > * .list .card {
  width: 319px;
  height: 551px;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  border: 1px solid #ebaf4a;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.driver-pricing .panels > * .list .bg {
  z-index: 1000;
}

.driver-pricing .panels > * .list .card .name {
  font-size: 18px;
  color: #ffa100;
  text-align: justify;
  font-weight: 800;
  padding: 20px;
  line-height: 20px;
  letter-spacing: 1px;
}

.driver-pricing .panels > * .list .card .details {
  font-size: 16px;
  color: #fff;
  text-align: justify;
  line-height: 25px;
  letter-spacing: 1px;
}

.driver-pricing .panels > * .list .card .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 100%;
  font-weight: normal;
}

.driver-pricing .panels > * .list .card .bottom {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0px;
}

.driver-pricing .panels > * .list .card .bottom button {
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
}

.driver-pricing .panels > * .list .card .bottom button:first-child {
  margin-top: 15px;
  padding: 8px 14px;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
}

.driver-pricing .panels > * .list .card .bottom button img {
  width: 25px;
}

@media screen and (max-width: 950px) {
  /* Intro */
  /*.home .intro {
    flex-direction: column;
    align-items: flex-start;
  }

  .home .intro .details h1 {
    font-size: 3.2rem;
  }

  .home .intro .cta-text + p {
    display: none;
  }

  .home .intro .cta-text + p + button {
    display: none;
  }

  .home .intro figure + p {
    display: block;
  }

  .home .intro figure + p + button {
    display: inline-block;
    background: linear-gradient(180deg, #ee9a09 0%, #ffffff 100%);
  }*/

  /* # Services */
  .home .services > h1 {
    color: #ffa100;
  }

  .driver-pricing .panels > * .list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-around;
    /* gap: 0px; */
    padding: 0px 1%;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
}

  .driving-pricing .child > * .indicator {
  width: 25px;
  height: 25px;
  border: 4px solid white;
  flex: 0 0 25px;
  border-radius: 50%;
  font-size: 14px !important;
  }
}
