.footer-container {
  margin: 4rem 10%;
}

.footer-container .footer-testimonial .footer-logo 

.footer-container .footer-testimonial {
  display: flex;
  align-items: center;
  justify-content: space-between;
}