.home {
  background: #242321;
}

/* # Intro */

.home .intro {
  display: flex;
  padding: 90px 5%;
  align-items: center;
  gap: 50px;
}

.home .intro > * {
  flex: 1;
}

.home .intro .details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
}

.home .intro .details h1 {
  font-size: 3.7rem;
}

.home .intro .cta-text .second {
  background: -webkit-linear-gradient(180deg, #FFFFFF 26.04%, #FFA100 83.85%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .intro .cta-text .third {
  color: #FFA100;
}

.home .intro button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #ffa100;
  font-weight: bold;
}

.home .intro figure img {
  width: 100%;
}

.home .intro figure + p {
  display: none;
}

.home .intro figure + p + button {
  display: none;
}

/* ## Services */

.home .services {
  padding: 50px 5%;
  text-align: center;
}

.home .services > h1 {
  margin-bottom: 10px;
}

.home .services .list {
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0px;
  gap: 20px;
  justify-content: center;
}

.home .services .list .item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 250px;
}

.home .services .list .item a {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  text-decoration: none;
  display: inline-block;
  margin-top: auto;
}

/* ### Best Pricing */
.best-pricing {
  padding: 50px 5%;
  text-align: center;
}

.best-pricing > p {
  font-size: 20px;
  color: #ffa100;
  padding: 5px 0px;
}

.best-pricing :is(.parent, .child) {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.best-pricing .parent > * {
  padding: 8px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
}

.best-pricing .parent .active {
  border-color: #ffa100;
  background-color: #ffa100;
  color: black;
}

.best-pricing .filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px 0px;
  flex-wrap: wrap;
}

.best-pricing .filters form {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.best-pricing .filters form input {
  width: 350px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  flex: 1 0 300px;
}

.best-pricing .filters form button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: bold;
  border-color: #ffa100;
  background-color: #ffa100;
}

.best-pricing .filters > button {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid white;
  color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  background-color: transparent;
}

.best-pricing .child > * {
  width: 160px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.best-pricing .child > * .indicator {
  width: 45px;
  height: 45px;
  border: 4px solid white;
  border-radius: 50%;
  flex: 0 0 45px;
}

.best-pricing .child .active .indicator {
  background-color: #ffa100;
}

.best-pricing .panels > * .list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 236px);
  justify-content: center;
  gap: 30px;
  padding: 0px 5%;
}

.best-pricing .panels > * .list .card {
  background-color: #fff;
  color: #242321;
  border-radius: 16px;
  padding: 25px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.best-pricing .panels > * .list .card .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  width: 100%;
}

.best-pricing .panels > * .list .card .bottom {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 0px;
}

.best-pricing .panels > * .list .card .bottom button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.best-pricing .panels > * .list .card .bottom button:first-child {
  padding: 3px 8px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #242321;
  background-color: #fff;
}

.best-pricing .panels > * .list .card .bottom button img {
  width: 25px;
}

/* Media Queries */
@media screen and (max-width: 950px) {
  /* Intro */
  .home .intro {
    flex-direction: column;
    align-items: flex-start;
  }

  .home .intro .details h1 {
    font-size: 3.2rem;
  }

  .home .intro .cta-text + p {
    display: none;
  }

  .home .intro .cta-text + p + button {
    display: none;
  }

  .home .intro figure + p {
    display: block;
  }

  .home .intro figure + p + button {
    display: inline-block;
    background: linear-gradient(180deg, #ee9a09 0%, #ffffff 100%);
  }

  /* # Services */
  .home .services > h1 {
    color: #ffa100;
  }
}
