.money-container {
  margin: 10rem 18%;
}

.money-container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 1px;
}

.money-container .money-line {
  border-bottom: 2px solid #ee9a09;
  width: 213.01px;
  padding-top: 15px;
}

.money-container .moneysection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px 0;
}

.money-container .moneysection img {
  width: 103px;
  height: 100px;
  border-radius: 8px;
}

.money-container .moneysection .driver-section {
  width: 505px;
}
.money-container .moneysection .driver-section h1 {
  font-style: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ee9a09;
  padding-bottom: 8px;
}

.money-container .moneysection .driver-section p {
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 0.6px;
}

.money-container .moneysection button {
  border: 1px solid #fff;
  border-radius: 8px;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  padding: 10px 32px;
  background: #242321;
}

.money-container .testimonial {
  padding-top: 130px;
}

.money-container .testimonial-image {
  width: 948px;
  height: 504px;
  background: url(../../assets//images/Rectangle\ 738.png);
  margin-top: 70px;
}

.money-container .testimonial-image .overlay {
  /*position: fixed;
  display: none;*/
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.47);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.money-container .testimonial-image .overlay .testimonial-text {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: relative;

}

.money-container .overlay img {
  padding-right: 10px;
}

.money-container .testimonial-image .overlay button {
  color: #000;
  border-radius: 18px;
  padding: 10px 30px;
  font-weight: bolder;
  line-height: 25px;
  letter-spacing: 1px;
  border: none;
}

.money-container .gift {
  padding-top: 130px;
}

.money-container .gift-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  max-width: 643px;
}

.money-container .gift-container img {
  margin-right: 20px;
}

.money-container .gift-container .gift-text {
  width: 358px;
  font-weight: normal;
  font-style: normal;
  line-height: 35px;
  letter-spacing: 0.5px;
}

.money-container .gift-container .gift-text .gift-p {
  padding-bottom: 24px;
  font-size: 18px;
}

.money-container .gift-container .gift-text .gift-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.money-container .gift-container .gift-text .gift-buttons p {
  font-weight: bolder;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1.5px;
  padding-right: 50px;
}
.money-container .gift-container .gift-text .gift-buttons 
button {
  border: 1px solid #ffa100;
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 5px 18px;
  background: transparent;
  color: #fff;
}

.money-container .button-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.money-container .button-card button {
  background: #ffa100;
  border-radius: 8px;
  padding: 13px 32px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  color: #000;
  border: none;
  margin-right: 33px;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 50px;
}

.money-container .button-card button:nth-child(3) {
  border: 1px solid #fff;
  color: #fff;
  background: transparent;
}

@media screen and (max-width: 1024px) {
  .money-container {
  margin: 10rem 7%;
}
.money-container .testimonial {
  padding-top: 130px;
}

.money-container .testimonial-image {
  width: 798px;
  height: 504px;
  background: url(../../assets//images/Rectangle\ 738.png);
  margin-top: 70px;
  border-radius: 16px;
}

.money-container .testimonial-image .overlay {
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.47);
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.money-container .testimonial-image .overlay .testimonial-text {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  position: relative;

}

.money-container .overlay img {
  padding-right: 8px;
}

.money-container .testimonial-image .overlay button {
  color: #000;
  border-radius: 18px;
  padding: 10px 30px;
  font-weight: bolder;
  line-height: 25px;
  letter-spacing: 1px;
  border: none;
}
}

/*@media screen and (max-width: 768px) {
  .money-container {
  margin: 7rem 5%;
}

.money-container .moneysection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 50px 0;
}

.money-container .moneysection img {
  width: 83px;
  height: 80px;
  border-radius: 8px;
}

.money-container .moneysection .driver-section {
  width: 405px;
}
.money-container .moneysection .driver-section h1 {
  font-style: normal;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #ee9a09;
  padding-bottom: 8px;
}

.money-container .moneysection .driver-section p {
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  text-align: justify;
  letter-spacing: 0.6px;
}

.money-container .moneysection button {
  border: 1px solid #fff;
  border-radius: 8px;
  font-style: normal;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  padding: 10px 32px;
  background: #242321;
  font-size: 16px;
}
.money-container .testimonial-image {
  width: 698px;
  height: 504px;
  background: url(../../assets//images/Rectangle\ 738.png);
  margin-top: 70px;
  border-radius: 16px;
}
}*/

@media screen and (min-width: 425px) {
  .money-container {
  margin: 4rem 5%;
}
.money-container .moneysection {
}
.money-container .moneysection .driver-section {
}
.money-container .moneysection .button-section {
}
.money-container .button-card button {
  background: #ffa100;
  border-radius: 8px;
  padding: 8px 32px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  color: #000;
  border: none;
  margin-right: 33px;
  font-size: 18px;
  margin-top: 100px;
  margin-bottom: 50px;
}
}